<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aaron Roach Resume</title>
    <link rel="stylesheet" href="\static\resume_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
	<script src="index.js"></script>
  <div class="name_title">Aaron Roach</div>
  <div class="info_box">
    <div class="contact_and_links"><span><i class="fa fa-envelope"></i></span> aroach19953@gmail.com</div>
    <div class="contact_and_links"><span><i class="fa fa-phone"></i></span> 1-(586)-945-0998</div>
    <div class="contact_and_links"><span><i class="fa fa-linkedin-square"></i></span> linkedin.com/in/aroach1995/</div>
    <div class="contact_and_links"><span><i class="fa fa-github"></i></span> github.com/roachaar</div>
  </div>
  <div class="experience_and_more">
    <div class="work_exp">
      <div class="main_header">Work Experience</div>
      <div class="job_div"><span class="job_title">Quantitative Analyst</span><span class="employer"> - KeyBanc Capital Markets</span></div>
      <div class="job_info">December 2021 - Current <b>//</b> Cleveland, Ohio</div>
      <div>
        <ul>
          <li>Design, develop, and implement complex research models for Fixed Income and Equity lines of business</li>
          <li>Support research innovation through creative and aggressive experimentation of new data environments, software, and processes</li>
          <li>Document and support code developed across Capital Markets businesses to ensure continuity and rapid issue resolution</li>
          <li>Design and schedule scraping of various online/external vendor sources for data to be leveraged in modeling and reporting</li>
          <li>Utilize extensive market datasets, complex system connectivity, Google Cloud development environments, and machine-learning techniques to build and maintain a stable algorithmic trading platform</li>
          <li>Automate periodic reports on trading performance for Leadership review</li>
          <li>Automate daily analysis of trading activity to check against compliance standards</li>
        </ul>
      </div>
      <div class="job_div"><span class="job_title">Predictive Modeler</span><span class="employer"> - Auto-Owners Insurance</span></div>
      <div class="job_info">May 2019 - December 2021 <b>//</b> Lansing, Michigan</div>
      <div>
        <ul>
          <li>Organized large insurance experience datasets in preparation for modeling/analysis - used to streamline modeling process</li>
          <li>Created intricate tree-based and Generalized Linear Models for Personal Lines Insurance data - optimized profitability and competitiveness in rating algorithms</li>
          <li>Put together presentations with elaborate figures to demonstrate effectiveness of model outputs to Line Departments and Executives</li>
          <li>Integrated data from acquired companies into existing processes, worked with many branches of the company to decode unknowns</li>
          <li>Maintained Territory Analysis process used to set smoothed rates by territory taking into account company data as well as competitor data</li>
          <li>Researched potential rating variables to see if they may be worth adding to our models in production</li>
          <li>Put together rating proposals in compliance with regulatory organizations, responded to objections by explaining model methodology</li>
        </ul>
      </div>
      <div class="job_div"><span class="job_title">ULA/Grader</span><span class="employer"> - Michigan State University</span></div>
      <div class="job_info">2016 - 2018 <b>//</b> East Lansing, Michigan</div>
      <div>
        <ul>
          <li>Undergraduate Learning Assistant for Pre-Calculus (MTH 116) at MSU for 5 semesters.</li>
          <ul>
            <li>Led recitations twice per week</li>
            <li>Graded and Proctored all assignments and Exams</li>
          </ul>
          <li>Graded problem sets for the Honor's Intro to Mathematical Analysis class, MTH 327H</li>
          <li>Part of this position involved shifts in MSU's Math Learning Center, a tutoring center in which students go for help in Math courses ranging from introductory algebra to Graduate-level courses</li>
        </ul>
      </div>
      <div class="job_div"><span class="job_title">TA/Mentor</span><span class="employer"> - MSU DPO & MSU TRIO</span></div>
      <div class="job_info">2016 - 2018 <b>//</b> East Lansing, Michigan</div>
      <div>
        <ul>
          <li>Participated in the Diversity Programs Office Engineering and Science Success Academy & MSU TRIO Excel Summer Bridge Program</li>
          <li>Served as a mentor, familiarizing students with their new campus & college life</li>
          <li>Later served as a Math Teaching Assistant, hosting recitations/study sessions, and writing/grading assignments</li>
          <ul>
            <li>Improved students' Math Placement Exam score by an average of 4.5 points</li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="other_exp">
      <div class="main_header">Skills</div>
      <div class="job_div">
        <div class="job_title">Languages & Libraries</div>
        <div class="languages">Python, SQL, R, HTML, JavaScript, SAS</div>
        <div class="libraries">pandas, numpy, flask, statsmodels, tensorflow, sklearn, requests, asyncio, sqlalchemy, streamlit, nicegui, xlsxwriter, smtplib, matplotlib, seaborn, plotly, BeautifulSoup, pyautogui</div>
      </div>
      <div class="job_div">
        <div class="job_title">Software Proficiency</div>
        <div class="other_items">Google Cloud, JupyterLab, BigQuery, DataStudio, Visual Studio Code, REST API, Atlassian tools (Jira, Git, Confluence), pgAdmin, SSMS, LaTeX, Docker, Kafka, Emblem, Linux, Visio, Bloomberg Terminal, InsurQuote</div>
      </div>
      <div class="main_header">Education</div>
      <div class="job_div">
        <div class="job_title">Michigan State University</div>
        <div class="rhs_date">2014-2018</div>
        <div class="other_items">B.S. Advanced Mathematics</div>
        <div class="other_items">Additional Major in Statistics</div>
        <div class="other_items">Minor in Actuarial Science</div>
        <div class="other_items">Cumulative GPA: 3.85</div>
      </div>
      <div class="main_header">Exams</div>
      <div class="job_div">
        <div class="experience_and_more">
          <div class="exam_box">
            <div class="other_items">Actuarial Exam P</div>
            <div class="other_items">Actuarial Exam FM</div>
          </div>
          <div class="exam_box">
            <div class="other_items" style="text-align:right">FINRA Series 7</div>
          </div>
        </div>
      </div>
      <div class="main_header">Academic Research</div>
      <div class="job_div">
        <div class="job_title">Predicting Housing Prices using Data Science Techniques</div>
        <div class="rhs_date">Fall 2018</div>
        <div class="other_items">Collaborated with 2 students in working with open source Data on Kaggle to explore and improve standard methods of quantitative prediction. Cleaned data and implemented machine learning techniques (SVM, linear regression, tree-based methods, and more) - Scored in the top 5 percent of teams in terms of RMSE</div>
        <div class="job_title">New Versions of Knots and Link Invariants</div>
        <div class="rhs_date">Fall 2017</div>
        <div class="other_items">Worked with Dr. Kristen Hendricks of MSU studying Knot Theory. Studied representations of knots with Grid Diagrams and Grid Homology. Presented a new theorem: a slight strengthening to an existing Knot Invariant with a less restrictive short exact sequence</div>
      </div>
    </div>
  </div>
  </body>
</html>